//All the variables and mixin's are saved in this file

$primary-color: #444;
$secondary-color: #009933;
$show-home-image: true;
$home-image: url(../img/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 1s ease-out;
}

@mixin background {
  @if $show-home-image{
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      // used instead of an overlay tag in index.html
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: rgba($primary-color, $background-opacity);
      }
    }
  }
}

//Media Query Mixin
@mixin mediaSmall {
  // Any CSS put inside here will only apply if the screen is 500px or less
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMedium {
  // Any CSS put inside here will only apply if the screen is 768px or less
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLarge {
  // Any CSS put inside here will only apply if the screen is 769px - 1170px
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  // Any CSS put inside here will only apply if the screen is 1171px or greater
  @media screen and (min-width: 1171px) {
    @content;
  }
}
